.button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: rgba(90, 93, 92, 0.9);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
  outline: none;
}

.button:hover {
  background-color: rgb(99, 125, 47);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.button:active {
  background-color: rgb(99, 125, 47);
  transform: translateY(0);
}
